.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10px;
}